# Node Package Manager
node_modules/
**/npm-debug.log
.nyc_output
.cache
coverage/
ui/dist/
ui/esdoc/
package-lock.json
e2e/output

# Golang
bin/
vendor/
coverage.*

# Docker
cacert.pem
zoneinfo.zip
data/
