$clear: #f8f8f8;
$grey: #e1e1e8;
$dark: #3a3a3a;
$warning: #f0ad4e;

@mixin small-padding {
  padding: 5px;
}

@mixin round-label {
  border: 1px solid;
  border-radius: 5px;
  flex: none;
  margin: 2px;
  max-width: 100%;
  width: auto;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin ellipsis {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row,
.isin,
.label,
.category,
.rating {
  @include small-padding;
}

.row {
  @include flex-wrap;
  width: 100%;
}

.row:nth-child(even) {
  background-color: $grey;
}

.row button {
  background-color: inherit;
  border: 0;
  margin-left: 5px;
  padding: 0;
}

.row svg {
  color: $dark;
  height: 25px;
  width: 25px;
}

.old svg {
  color: $warning;
}

.isin {
  width: 140px;
}

.label {
  @include ellipsis;
  flex: 3;
}

.category {
  @include ellipsis;
  flex: 1;
}

.rating {
  width: 40px;
}

.icon {
  align-items: center;
  display: inline-flex;
}

@media screen and (max-width: 1023px) {
  .row:first-child {
    display: none;
  }

  .row svg {
    height: 30px;
    width: 30px;
  }

  .label {
    flex-basis: 100%;
    width: 100%;
  }

  .category {
    @include round-label;
    order: 1;
  }

  .isin {
    @include round-label;
    order: 3;
  }

  .isin::before {
    content: 'ISIN | ';
  }

  .rating {
    @include round-label;
    order: 2;
  }

  .rating::before {
    content: 'Note | ';
  }

  .icon {
    margin: 2px;
    order: 5;
  }
}
