$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;

$iconSize: 50px;

@mixin darkBox {
  background-color: $dark;
  color: $clear;
}

@mixin smallPadding {
  padding: 5px;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin roundBorder {
  width: auto;
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
}

@mixin ellipsis {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  @include flexWrap;
  text-align: center;
  width: 100%;
}

.header h1 {
  @include darkBox;
  @include smallPadding;
  height: $iconSize;
  margin: 0;
  display: inline-block;
  flex: 1 1 auto;
}

article {
  text-align: center;
}

button {
  border: 0;
  padding: 0;
  margin-left: 5px;
  background-color: inherit;
}

svg {
  color: $dark;
}

svg.active {
  color: $clear;
  background-color: $dark;
}

.list {
  width: 100%;
  @include flexWrap;
}

.icon svg {
  width: 20px;
  height: 20px;
}

.icon button {
  color: $clear;
}

.header input[type="text"],
.header ol,
.header .icon svg,
.row,
.label,
.isin,
.dataModifier,
.rating,
.category,
.performance {
  @include smallPadding;
}

.header li button {
  padding: 15px;
  width: 100%;
}

.header .icon {
  position: relative;
  display: inline-block;
}

.header .icon svg {
  width: $iconSize;
  height: $iconSize;
}

.header ol {
  background-color: $dark;
  list-style: none;
  position: absolute;
  top: $iconSize;
  margin: 0;
}

.header input[type="text"] {
  height: $iconSize;
  border-radius: 0;
  width: 160px;
  flex: 1 1 160px;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.row {
  width: 100%;
  @include flexWrap;
}

.row:nth-child(even) {
  background-color: $grey;
}

.dataModifier {
  @include roundBorder;
}

.isin {
  width: 140px;
}

.label {
  flex: 3;
  @include ellipsis;
}

.category {
  flex: 1;
  @include ellipsis;
}

.rating {
  width: 40px;
}

.performance {
  width: 80px;
}

.row svg {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 1024px) {
  .header input[type="text"] {
    flex: 5;
  }

  .header ol {
    left: 0;
    right: initial;
  }
}

@media screen and (max-width: 1023px) {
  .header ol {
    left: initial;
    right: 0;
  }

  .row:first-child {
    display: none;
  }

  .label {
    flex-basis: 100%;
    width: 100%;
  }

  .row .icon {
    margin: 2px;
    order: 3;
  }

  .row svg {
    width: 30px;
    height: 30px;
  }

  .isin,
  .rating,
  .category,
  .performance {
    @include roundBorder;
    flex: none;
    max-width: 100%;
    order: 2;
  }

  .isin {
    order: 1;
  }

  .isin::before {
    content: "ISIN | ";
  }

  .rating::before {
    content: "Note | ";
  }

  .p1m::before {
    content: "1m | ";
  }

  .p3m::before {
    content: "3m | ";
  }

  .p6m::before {
    content: "6m | ";
  }

  .p1y::before {
    content: "1y | ";
  }

  .pvol::before {
    content: "Vol. | ";
  }

  .pscore::before {
    content: "Score | ";
  }
}
