$dark: #3a3a3a;
$clear: #f8f8f8;
$icon-size: 50px;

@mixin small-padding {
  padding: 5px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
}

.header h1 {
  @include small-padding;
  background-color: $dark;
  color: $clear;
  display: inline-block;
  flex: 1 1 auto;
  height: $icon-size;
  margin: 0;
}

.header input[type='text'] {
  @include small-padding;
  border-radius: 0;
  flex: 1 1 160px;
  height: $icon-size;
  width: 160px;
}

@media screen and (min-width: 1024px) {
  .header input[type='text'] {
    flex: 5;
  }
}
