$dark: #3a3a3a;
$grey: #e1e1e8;
$clear: #f8f8f8;
$warning: #f0ad4e;

$icon-size: 50px;

@mixin dark-box {
  background-color: $dark;
  color: $clear;
}

@mixin small-padding {
  padding: 5px;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin round-border {
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
  width: auto;
}

@mixin ellipsis {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin round-label {
  @include round-border;
  flex: none;
  max-width: 100%;
}

.header {
  @include flex-wrap;
  text-align: center;
  width: 100%;
}

.header h1 {
  @include dark-box;
  @include small-padding;
  display: inline-block;
  flex: 1 1 auto;
  height: $icon-size;
  margin: 0;
}

article {
  text-align: center;
}

button {
  background-color: inherit;
  border: 0;
  margin-left: 5px;
  padding: 0;
}

svg {
  color: $dark;
}

svg.active,
.active svg {
  background-color: $dark;
  color: $clear;
}

.list {
  @include flex-wrap;
  width: 100%;
}

.icon svg {
  height: 20px;
  width: 20px;
}

.icon button {
  color: $clear;
}

.header input[type='text'],
.header ol,
.header .icon svg,
.row,
.label,
.isin,
.modifier,
.rating,
.category,
.performance {
  @include small-padding;
}

.header li button {
  padding: 15px;
  width: 100%;
}

.header .icon {
  display: inline-block;
  position: relative;
}

.header .icon svg {
  height: $icon-size;
  width: $icon-size;
}

.header ol {
  background-color: $dark;
  list-style: none;
  margin: 0;
  position: absolute;
  top: $icon-size;
}

.header input[type='text'] {
  border-radius: 0;
  flex: 1 1 160px;
  height: $icon-size;
  width: 160px;
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

.row {
  @include flex-wrap;
  width: 100%;
}

.row:nth-child(even) {
  background-color: $grey;
}

.modifier {
  @include round-border;
}

.isin {
  width: 140px;
}

.label {
  @include ellipsis;
  flex: 3;
}

.category {
  @include ellipsis;
  flex: 1;
}

.rating {
  width: 40px;
}

.performance {
  width: 80px;
}

.row svg {
  height: 25px;
  width: 25px;
}

.old svg {
  color: $warning;
}

@media screen and (min-width: 1024px) {
  .header input[type='text'] {
    flex: 5;
  }

  .header ol {
    left: 0;
    right: initial;
  }
}

@media screen and (max-width: 1023px) {
  .header ol {
    left: initial;
    right: 0;
  }

  .row:first-child {
    display: none;
  }

  .label {
    flex-basis: 100%;
    width: 100%;
  }

  .row .icon {
    margin: 2px;
    order: 5;
  }

  .row svg {
    height: 30px;
    width: 30px;
  }

  .performance {
    @include round-label;
    order: 4;
  }

  .category {
    @include round-label;
    order: 1;
  }

  .isin {
    @include round-label;
    order: 3;
  }

  .rating {
    @include round-label;
    order: 2;
  }

  .isin::before {
    content: 'ISIN | ';
  }

  .rating::before {
    content: 'Note | ';
  }

  .p1m::before {
    content: '1m | ';
  }

  .p3m::before {
    content: '3m | ';
  }

  .p6m::before {
    content: '6m | ';
  }

  .p1y::before {
    content: '1y | ';
  }

  .pvol::before {
    content: 'Vol. | ';
  }

  .pscore::before {
    content: 'Score | ';
  }
}
