.list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.modifier {
  align-items: center;
  border: 0.1rem solid;
  border-radius: 0.2rem;
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  height: 4rem;
  margin: 0.2rem;
  max-width: 100%;
  padding: 0.5rem;
  width: auto;
}

.modifier > *:first-child,
.modifier > select {
  margin-right: 0.5rem;
}

.modifier > *:last-child {
  margin-left: 0.5rem;
}
