$dark: #3a3a3a;

article {
  text-align: center;
}

button {
  background-color: inherit;
  border: 0;
  margin-left: 5px;
  padding: 0;
}

svg {
  color: $dark;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modifier {
  border: 1px solid;
  border-radius: 5px;
  flex: none;
  margin: 2px;
  max-width: 100%;
  padding: 5px;
  width: auto;
}
