.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.modifier {
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  display: inline-flex;
  flex: none;
  flex-wrap: nowrap;
  margin: 2px;
  max-width: 100%;
  padding: 5px;
  width: auto;
}

.modifier > *:first-child {
  margin-right: 5px;
}

.modifier > *:last-child {
  margin-left: 5px;
}
