{{ define "main" }}
<style type="text/css">
    *:not(html, head) {
        box-sizing: border-box;
    }

    .full-width {
        width: 100%;
    }

    .no-space {
        border: 0;
        margin: 0;
        padding: 0;
    }

    .padding {
        padding: 5px;
    }

    .center {
        text-align: center;
    }

    .isin {
        width: 140px;
    }

    .score {
        width: 80px;
    }
</style>
<body class="no-space padding full-width">
    <h1 class="no-space padding full-width center" style="background-color: #3a3a3a; color: #f8f8f8; margin: 0 5px 0 0;">Funds</h1>
    <p>Bonjour,</p>
    {{ if len .AboveFunds }}
    <p style="color: #4cae4c;">
        Les fonds suivants viennent de dépasser le score de <strong>{{ .Score }}</strong>.</p>
    <p>
        {{ template "funds" .AboveFunds }}
    </p>
    {{ end }} {{ if len .BelowFunds }}
    <p style="color: #d43f3a;">Les fonds suivants viennent de repasser sous leur seuil initial d'alerte.</p>
    <p>
        {{ template "funds" .BelowFunds }}
    </p>
    {{ end }}
    <p>
        Pour plus d'informations, n'hésitez pas à consulter <a href="https://funds.vibioh.fr/?o=score" rel="noopener noreferrer" target="_blank">notre site</a>.
    </p>
    <p>
        Bonne journée,<br />
        A bientôt,
    </p>
    <p>
        --<br />
        Funds App - powered by <a href="https://vibioh.fr" rel="noopener noreferrer" target="_blank">ViBiOh</a>
    </p>
</body>
{{ end }}

{{ define "funds" }}
<table class="no-space full-width">
    <thead class="no-space full-width">
        <tr class="no-space full-width">
            <td class="padding isin" >ISIN</td>
            <td class="padding">Libellé</td>
            <td class="padding score">Score</td>
        </tr>
    </thead>
    <tbody class="no-space full-width">
        {{ range $index, $fund := . }}
        <tr style="{{ if odd $index }}background-color: #e1e1e8;{{ end }}">
            <td class="padding isin">
                <a href="https://funds.vibioh.fr/?isin={{ $fund.Isin }}" rel="noopener noreferrer" target="_blank">{{ $fund.Isin }}</a>
            </td>
            <td class="padding">{{ $fund.Label }}</td>
            <td class="padding score">{{ $fund.Score }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ end }}