ol {
  max-height: 80vh;
  overflow: scroll;
}

.icon {
  display: inline-block;
  position: relative;
}

.icon ol {
  background-color: var(--dark);
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0.5rem;
  position: absolute;
  top: var(--icon-size);
}

.button {
  color: var(--clear);
  padding: 1.5rem;
}

.icon svg {
  color: var(--dark);
  height: var(--icon-size);
  padding: 0.5rem;
  width: var(--icon-size);
}

.active svg {
  background-color: var(--dark);
  color: var(--clear);
}

.hidden {
  display: none;
}

.displayed {
  display: block;
}

@media screen and (min-width: 1024px) {
  ol {
    left: 0;
    right: initial;
  }
}

@media screen and (max-width: 1023px) {
  ol {
    left: initial;
    right: 0;
  }
}
